@page "/todolist"
@using TodoListWebWasm.Components;
@using TodoList.Models.Enums;
@inject IConfiguration Configuration

<h3>Todo List 1</h3>

@if (Tasks == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
       <TaskSearch OnSearch="SearchForm"></TaskSearch>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Priority</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.AssigneeName</td>
                        <td><PriorityLabel Priority="item.Priority"></PriorityLabel></td>
                        <td>@item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                            <a href="/taskdetails/@item.Id">Details</a>
                            <a href="/taskedit/@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}