@page "/todolist"
@using TodoListWebWasm.Components;
@using TodoListWebWasm.Pages.Components;
@using TodoList.Models.Enums;
@using TodoList.Models.SeedWork;
@using TodoListWebWasm.Shared;
@inject IConfiguration Configuration

<h3>Todo List 1</h3>

@if (Tasks == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <TaskSearch OnSearch="SearchForm"></TaskSearch>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Priority</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td><a style="cursor:pointer;" @onclick="()=>OpenAssignPopup(item.Id)">@item.AssigneeName</a></td>
                        <td><PriorityLabel Priority="item.Priority"></PriorityLabel></td>
                        <td>@item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                            <a href="/taskdetails/@item.Id" class="btn btn-primary">Details</a>
                            <a href="/taskedit/@item.Id" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @onclick="()=> OnDeleteTask(item.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
            </tfoot>
        </table>
    </div>

    <Confirmation @ref="DeleteConfirmation"
                  ConfirmationChanged="OnConfirmationChanged"></Confirmation>

    <AssignTask @ref="AssignTaskDialog" CloseEventCallbak="AssignTaskSuccess"></AssignTask>
}